
.site-logo{
  font-family: 'pacifico',Arial ,cursive ;
  font-weight: bolder;
}

.navbar-inverse .navbar-brand {
    color: #24a9e1;
    transition: all .5s ease-in-out ;
}

.search-input{
	border-right: 0;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right:0;
    max-width : 250px;
    display: inline-block;
}
.search-button{
	padding: 4.7px;
	border-left: 0;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left:-4px;
	display: inline-block;
}